*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

/* Global Properties */
.wrapper{
    overflow: hidden !important;
}

ul,p{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* Today - 22 / 02 / 24 */
/* Global Data for All pages */
.crypto-grey a{
    font-size: 13px;
    background-color: #F2F2F2;
    color: #7D7D7D;
    font-weight: 550;
    font-family: "Inter";
    width: 86px;
    height: 28px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.crypto-white a{
    font-size: 13px;
    background-color: #fff;
    color: #000000;
    font-weight: 550;
    font-family: "Inter";
    width: 84px;
    height: 28px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.date-time-text-white{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter";
}
.date-time-text-grey{
    font-size: 14px;
    color: #7E7E7E;
    font-weight: 600;
    font-family: "Inter";
}
.bitcoin-message-text-white{
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
    max-width: 75%;
    margin: 0;
}
.bitcoin-message-text-white > a{
    color: #fff;
    transition: all 0.5s ease;
}
.bitcoin-message-text-dark-grey{
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
    max-width: 75%;
    margin: 0;
    transition: all 0.5s ease;
}
.bitcoin-message-text-dark-grey > a{
    color: #101010;
    transition: all 0.5s ease;
}
/* Global Data for All pages */


/* =================== Header Page work start ======================= */
header{
    position: sticky;
    z-index: 999 !important;
    top: 0;
    width: 100%;
    height: auto;
}
.navbar{
    position: relative;
    overflow: hidden;
}
.navbar::after{
    z-index: 1;
    content: '';
    bottom: 8px;
    left: 0;
    position: absolute;
    background-color: #E3E3E3;
    height: 1.5px;
    width: 100%;
}
.navbar .navbar-brand{
    gap: 30px;
}
.navbar .navbar-brand .logo{
    position: relative;
    z-index: 99 !important;
    width: 75px;
    height: auto;
}

.navbar .navbar-brand .text-logo{
    width: 120px;
    height: auto;
    margin-left: -20px;
}
.navbar-expand-lg .navbar-toggler{
    all: unset;
    display: none;
}
.navbar-toggler-icon{
    all: unset;
    display: none;
}
.navbar .toggle-icon-desktop-home{
    padding-left: 50px;
}
.navbar .navbar-nav{
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navbar .navbar-nav li a{
    color: #101010;
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 500;
}
.navbar .search-form-box{
    background-color: #fff;
     padding: 8px 10px;
     width: 130px;
     position: relative;
}
.navbar .search-form-box::before{
    z-index: 1;
    content: '';
    left: -20px;
    top: 30%;
    bottom: auto;
    transform: translateY(-50%);
    position: absolute;
    height: 95px;
    width: 2px;
    background-color: #E3E3E3;
}
.navbar .search-form-box input{
    all: unset;
    width: 100%;
}
.navbar .search-form-box input::placeholder{
    color: #101010;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 500;
}


/* =================== Header Page work end ======================= */

/* =================== Home Banner Work start ======================= */

/* Global Type work */
.ads-sec-home .ads-home-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 10px;
    height: 140px;
    margin: 40px auto;
}


.home-banner-coinrise-sec .home-banner-slider{
    margin: 40px auto;
}
.carousel-inner{
    border-radius: 10px;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner{
    position: relative;
    overflow: hidden;
    isolation: isolate;
    width: 100%;
    height: 673px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner img{
    height: 100%;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner:hover{
    filter: brightness(123%);
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    cursor: default;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text .slider-up-text{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 35px;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0px;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text .slider-up-text span{
    color: #fff;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text .slider-bottom-text{
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    gap: 13px;
    position: absolute;
    bottom: 0px;
}

.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text .slider-bottom-text .bitcoin-message-text{
    font-size: clamp(20px, 5vw, 34px);
    font-family: "Inter";
    font-weight: 500;
    color: #fff;
    max-width: 75%;
    line-height: 43px;
    margin: 0;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text .slider-bottom-text .bitcoin-message-text a{
    color: #fff;
    transition: all 0.5s ease;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner:hover .bitcoin-message-text a{
    text-decoration: underline;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-banner-text .slider-bottom-text p{
    font-size: 18px;
    font-family: "Inter";
    font-weight: 400;
    color: #fff;
    letter-spacing: .2px;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-button-home-banner{
    position: absolute;
    right: 40px;
    bottom: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-button-home-banner .prev-slide-btn, .home-banner-coinrise-sec .home-banner-slider .slider-box-home-banner .slider-button-home-banner .next-slide-btn{
    all: unset;
    display: inline-block;
    cursor: pointer;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    all: unset;
}

.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box{
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: 673px;
    border-radius: 10px;
    padding: 30px 25px;
    cursor: default;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 35px;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box:last-child{
    margin-bottom: 0;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box .crypto-date-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box:hover .right-content-crypto-box a{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box .crypto-date-text h6{
    font-size: 14px;
    font-family: "Inter";
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box > a{
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    color: #fff;
    max-width: 70%;
    line-height: 26px;
    margin: 0;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box:hover .right-banner-content-bitcoin-text > a{
text-decoration: underline;
}
.home-banner-coinrise-sec .home-banner-slider .home-banner-right-content-box .right-content-home-box p{
    color: #CACACA;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
    max-width: 85%;
}
/* =================== Home Banner Work end ======================= */


/* =================== Features Slider work start ======================= */
/* Today - 22 / 02 /24 */
.home-features-presales-slider{
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 30px 0;
    padding-bottom: 60px;
    margin: 30px auto;   
}
.owl-carousel-features-presales{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.home-features-presales-slider .features-presales-heading-text{
    font-size: 28px;
    font-weight: 500;
    color: #101010;
    font-family: "Inter";
    margin-bottom: 20px;
}

.home-features-presales-slider .features-presales-marquees-tag{
    width: 100%;
    height: 82px;
    background-color: #411DF2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 95px;
    z-index: 1;
}
.home-features-presales-slider .carousel-handle-features-pre-sales{
    position: relative;
    isolation: isolate;
}
.home-features-presales-slider .features-presales-marquees-tag .features-presales-marquees-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-features-presales-slider .features-presales-marquees-tag .features-presales-marquees-text p{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Inter";
    line-height: 22px;
    max-width: 40%;
    text-align: center;
    margin-left: 172px;
}
.home-features-presales-slider .features-presales-marquees-tag .features-presales-marquees-text a{
    height: 26px;
    width: 170px;
    border-radius: 23px;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Inter";
    padding: 22px 0px;
    font-weight: 500;
}

.home-features-presales-slider .features-presales-boxes{
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
}
.home-features-presales-slider .features-presales-boxes .features-sales-text-img-box .text-features-presales{
    color: #101010;
    font-size: 21px;
    font-family: "Inter";
    font-weight: 500;
    max-width: 40%;
    padding-left: 10px;
    line-height: 27px;
} .features-presales-boxes .text-features-presales-box{
    position: relative;
    overflow: hidden;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    padding-left: 15px;
}
.home-features-presales-slider .features-presales-boxes .text-features-presales-box .text-features-presales{
    color: #101010;
    font-size: 21px;
    font-family: "Inter";
    font-weight: 500;
    max-width: 65%;
    line-height: 27px;
}
 .features-presales-boxes .features-presales-crypto-box{
    position: absolute;
    top: 20px;
    left: 216px;
}
.home-features-presales-slider .features-presales-boxes .dated-features-presales{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter";
}
.home-features-presales-slider .features-presales-boxes .images-features-presales{
    overflow: hidden;
    border-radius: 10px;
    width: 50%;
    height: auto;

}
.home-features-presales-slider .features-presales-boxes .images-features-presales a img{
    transform: scale(1);
    transition: all 0.5s ease;
}
.home-features-presales-slider .features-presales-boxes:hover .images-features-presales a img{
    opacity: .8;
    transform: scale(1.1);
}
.home-features-presales-slider .features-presales-boxes:hover .text-features-presales-box .text-features-presales a{
text-decoration: underline;
}
.owl-carousel .owl-nav.disabled{
    position: absolute;
    top: -64px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

/* =================== Features Slider work end ======================= */



/* =================== News Page Work start ======================= */
.news-text-box-page{
    margin: 50px auto;
}
.news-text-box-page .all-news-text h5{
    color: #101010;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter";
}
.news-text-box-page .all-news-text a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border:  1px solid  #D9D9D9;
    border-radius: 23px;
    display: flex;
    height: 46px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.news-text-box-page .bitcoin-news-image-box, .financ-news-home-boxes .bitcoin-news-image-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: default;
}
.news-text-box-page .bitcoin-news-image-box .img {
    overflow: hidden;
    border-radius: 10px;
}
.news-text-box-page .bitcoin-news-image-box .img a img{
    transform: scale(1);
    transition: all 0.5s ease;
}
.news-text-box-page .bitcoin-news-image-box:hover .img a img{
    opacity: .9;
    transform: scale(1.1);
}
.news-text-box-page .bitcoin-news-image-box .bitcoin-image-text-box , .financ-news-home-boxes .bitcoin-news-image-box .bitcoin-image-text-box, .financ-news-home-boxes .ads-finance-home-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news-text-box-page .bitcoin-news-image-box .bitcoin-image-text-box .bitcoin-img-info-text h6, .financ-news-home-boxes .bitcoin-news-image-box .bitcoin-image-text-box .bitcoin-img-info-text h6,  .financ-news-home-boxes .ads-finance-home-box .bitcoin-img-info-text h6{
    color: #7E7E7E;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 600;
}
.news-text-box-page .bitcoin-news-image-box .bitcoin-image-text-box .news-bitcoin-box-text, .financ-news-home-boxes .bitcoin-news-image-box .bitcoin-image-text-box  .news-bitcoin-box-text a{
    color: #101010;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 26px;
    max-width: 80%;
}
.news-text-box-page .bitcoin-news-image-box:hover .news-bitcoin-box-text > a{
text-decoration: underline;
}

/* =================== News Page Work end ======================= */

/* =================== Trending Topic work start ======================= */
.trending-topics-home-page{
    padding: 35px 30px;
    background-color: #f4f4f4;
}
.trending-topics-home-page .trending-topic-heading-text, .finance-news-home-page .trending-topic-heading-text{
    color: #101010;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter";
}
.trending-topics-home-page .trending-topic-boxes-main{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin: 35px auto;
}
.trending-topics-home-page .trending-topic-boxes-main .trending-topic-box{
    width: calc(100% / 5 - 20px);
}
.trending-topics-home-page .trending-topic-boxes-main .trending-topic-box .trending-box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.trending-topics-home-page .trending-topic-boxes-main .trending-topic-box .trending-box-content > a img{
    transform: scale(1);
    transition: all 0.5s ease;
}
.trending-topics-home-page .trending-topic-boxes-main .trending-topic-box .trending-box-content:hover a img{
    opacity: .9;
    transform: scale(1.1);
}
.trending-topics-home-page .trending-topic-boxes-main .trending-topic-box .trending-box-content span{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    transition: bottom 0.5s ease;
}
.trending-topics-home-page .trending-topic-boxes-main .trending-topic-box .trending-box-content:hover span{
    bottom: 100px;
}
/* =================== Trending Topic work end ======================= */


/* =================== Financial News Work Start ======================= */
.finance-news-home-page .financ-news-home-boxes{
    margin: 35px auto;
}
.finance-news-home-page .all-news-text > h5{
    color: #101010;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter";
}

.finance-news-home-page .all-news-text > a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border:  1px solid  #D9D9D9;
    border-radius: 23px;
    display: flex;
    height: 46px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.finance-news-home-page .financ-news-home-boxes .ads-finance-home-box .ads-footer-image{
    height: 280px;
}
.financ-news-home-boxes .ads-finance-home-box{
    gap: 15px;
}
.finance-news-home-page .financ-news-home-boxes .ads-finance-home-box .ads-footer-image > a img{
    height: 100%;
    border: 13px solid #f4f4f4;
    border-radius: 10px;
}
.finance-news-home-page .financ-news-home-boxes .bitcoin-news-image-box .img {
    overflow: hidden;
    border-radius: 10px;
}
.finance-news-home-page .financ-news-home-boxes .bitcoin-news-image-box .img a img{
    transform: scale(1);
    transition: all 0.5s ease;
}
.finance-news-home-page .financ-news-home-boxes .bitcoin-news-image-box:hover .img a img{
    opacity: .9;
    transform: scale(1.1);
}
.finance-news-home-page .financ-news-home-boxes .bitcoin-news-image-box:hover .news-bitcoin-box-text > a{
    text-decoration: underline;
}
.finance-news-home-page .financ-news-home-boxes .ads-finance-home-box .bitcoin-image-text-box .bitcoin-img-info-text > a{
    font-size: 14px;
    font-weight: 600;
    color: #7E7E7E;
    font-family: "Inter";
}


/* =================== Financial News Work end ======================= */

/* =================== Press Release Work start ======================= */
.home-coinrise-press-release-sec{
    background-color: #F4F4F4;
    padding: 40px ;
}
.home-coinrise-press-release-sec .all-news-text > h5{
    color: #101010;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter";
}
.home-coinrise-press-release-sec .all-news-text > a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border:  1px solid  #D9D9D9;
    border-radius: 23px;
    display: flex;
    height: 46px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.home-coinrise-press-release-sec .press-release-carousel-sec{
margin: 30px auto;
}
.home-coinrise-press-release-sec .press-release-carousel-sec .bitcoin-news-image-box .img {
    overflow: hidden;
    border-radius: 10px;
}
.home-coinrise-press-release-sec .press-release-carousel-sec .bitcoin-news-image-box .img a img{
    transform: scale(1);
    transition: all 0.5s ease;
    width: auto;
}
.home-coinrise-press-release-sec .press-release-carousel-sec .bitcoin-news-image-box:hover .img a img{
    opacity: .9;
    transform: scale(1.1);
}
.home-coinrise-press-release-sec .press-release-carousel-sec .bitcoin-news-image-box .bitcoin-image-text-box .news-bitcoin-box-text a{
    font-size: 18px;
}
.home-coinrise-press-release-sec .press-release-carousel-sec .bitcoin-news-image-box:hover .news-bitcoin-box-text > a{
    text-decoration: underline;
}
.home-coinrise-press-release-sec .press-release-carousel-sec .bitcoin-news-image-box .bitcoin-image-text-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}
.home-coinrise-press-release-sec  .owl-carousel .owl-nav {
    width: 100%;
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transform: translateY(-50%);
}
.home-coinrise-press-release-sec .owl-carousel .owl-nav button.owl-prev{
    transform: translateX(-78px);
}
.home-coinrise-press-release-sec .owl-carousel .owl-nav button.owl-next{
    transform: translateX(78px);
}
/* =================== Press Release Work end ======================= */

/* =================== In depth work start ======================= */
.in-depth-home-coinrise{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.in-depth-home-coinrise .all-news-text > h5{
    color: #101010;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter";
}
.in-depth-home-coinrise .all-news-text > a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border:  1px solid  #D9D9D9;
    border-radius: 23px;
    display: flex;
    height: 46px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box{
    margin: 35px auto;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec{
    position: relative;
    overflow: hidden;
    isolation: isolate;
    cursor: pointer;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .date-time-text-white{
    position: absolute;
    right: 40px;
    top: 40px;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .image-in-depth{
    position: relative;
   overflow: hidden;
   border-radius: 10px;
   height: 100%;
   width: 100%;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .image-in-depth a img{
    height: 573px;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.5s ease;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec:hover .image-in-depth a img{
    filter: brightness(140%);
    transform: scale(1.1);
}

.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .text-in-depth-box{
    position: absolute;
    bottom: 44px;
    left: 44px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec:hover .text-in-depth-box .bitcoin-heading-in-depth-text a{
    text-decoration: underline;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .text-in-depth-box .bitcoin-heading-in-depth-text{
    max-width: 80%;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .text-in-depth-box .bitcoin-heading-in-depth-text a{
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    font-family: "Inter";
    line-height: 40px;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .box-in-depth-sec .text-in-depth-box > p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: "Inter";
    max-width: 80%;
}
/* Small box */
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .small-box-in-depth{
    height: 274px !important;
}
.in-depth-home-coinrise .in-depth-bitcoin-sec-box .small-box-in-depth .small-box-image-in-depth a img{
    height: auto !important;
    width: 100% !important;
}

.in-depth-bitcoin-sec-box .box-in-depth-sec .small-text-in-depth-box .bitcoin-heading-in-depth-text > a{
    font-size: 22px !important;
    line-height: 30px !important;
}
.in-depth-bitcoin-sec-box .box-in-depth-sec .small-text-in-depth-box .bitcoin-heading-in-depth-text > a{
    font-size: 22px !important;
    line-height: 30px !important;
}
/* =================== In depth work end ======================= */





/* =================== Footer Page work start ======================= */
.footer-coinrise-1{
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    padding: 30px 0;
}
.footer-coinrise-1 .footer-logo-coinrise a,.footer-coinrise-1 .social-icon-logo-coinrise{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.footer-coinrise-1 .footer-logo-coinrise a{
    width: 170px;
    height: auto;
}
.footer-coinrise-1 .social-icon-logo-coinrise{
    justify-content: flex-end;
    width: 100%;
    gap: 60px;
}

.footer-coinrise-2{
    background-color: #eaeaea;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.footer-coinrise-2 .footer-nav-links-coinrise{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    margin-bottom: 80px;
    padding: 40px 0;
    border-bottom: 1px solid #D9D9D9;
}
.footer-coinrise-2 .footer-nav-links-coinrise li a{
    color: #7D7D7D;    
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter";
}
.footer-coinrise-2 .about-us-footer-text h4{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 40px;
}
.footer-coinrise-2 .about-us-footer-text p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    max-width: 60%;
    line-height: 28px;
}
.footer-coinrise-2 .about-us-footer-text a{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
}
.footer-coinrise-2 .ads-footer-image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-coinrise-2 .ads-footer-image img{
    border: 13px solid #fff;
    border-radius: 10px;
}
.footer-coinrise-2 .copyright-message-footer{
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1px;
}
/* =================== Footer Page work end ======================= */